:root {
  --bg: rgb(10, 10, 10);
  --accent: rgb(136, 71, 255);

  --tag-tech: rgba(140, 140, 140, 50%);
  --tag-expensive: rgba(181, 92, 92, 50%);
  --tag-semi-expensive: rgba(181, 132, 92, 50%);
  --tag-fiy: rgba(175, 181, 92, 50%);
  --tag-decor: rgba(92, 181, 109, 50%);
  --tag-toy: rgba(92, 175, 181, 50%);
  --tag-clothing: rgba(92, 93, 181, 50%);
  --tag-giftcard: rgba(131, 92, 181, 50%);

  --price-1: rgb(73, 195, 204);
  --price-5: rgb(73, 204, 171);
  --price-10: rgb(73, 204, 117);
  --price-25: rgb(109, 185, 65);
  --price-50: rgb(120, 146, 47);
  --price-75: rgb(150, 131, 49);
  --price-100: rgb(179, 128, 62);
  --price-150: rgb(209, 125, 68);
  --price-200: rgb(255, 121, 88);
  --price-250: rgb(255, 88, 88);
  --price-300: rgb(226, 75, 125);
  --price-350: rgb(202, 63, 172);
  --price-400: rgb(152, 59, 175);
  --price-450: rgb(110, 51, 158);
  --price-500: rgb(59, 35, 124);

  --bouncy: cubic-bezier(0, 2, 0.8, 1);
}

@font-face {
  font-family: deca;
  src: url(fonts/deca.ttf);
}

html {
  background-color: var(--bg);
  font-family: deca;
  color: white;
}

body {
  background-image: radial-gradient(rgba(0, 0, 0, 0.25) 10%, transparent 11%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header-text {
  font-size: 2vw;
  font-weight: 900;
}

.save-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.save-title {
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}

.save-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
}

.save-box {
  position: relative;
  width: 22.5vw;
  height: 250px;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 5px var(--bg), 0px 0px 0px 7px white,
    inset 0px 0px 200px 10px black;
}

.save-box:hover {
  box-shadow: 0px 0px 0px 7px var(--bg), 0px 0px 0px 9px white,
    inset 0px 0px 200px 10px black;
}

.save-box:active {
  box-shadow: 0px 0px 0px 5px var(--bg), 0px 0px 0px 7px white,
    inset 0px 0px 200px 10px black;
}

.boxes-container {
  display: flex;
  justify-content: center;
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 10px;
}

.box {
  position: relative;
  width: 15vw;
  height: 250px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 5px var(--bg), 0px 0px 0px 7px white,
    inset 0px 0px 200px 10px black;
  transition: box-shadow var(--bouncy) 0.25s;
}

.box:hover {
  box-shadow: 0px 0px 0px 9px var(--bg), 0px 0px 0px 11px white,
    inset 0px 0px 200px 12px black;
}

.box:active {
  box-shadow: 0px 0px 0px 5px var(--bg), 0px 0px 0px 7px white,
    inset 0px 0px 200px 10px black;
}

.box-title {
  font-size: x-large;
  font-weight: 800;
}

.box-tag {
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 23px;
  white-space: nowrap;
  line-height: 30px;
  backdrop-filter: blur(5px);
}

.card1 {
  animation: card1 linear 5s infinite;
}

@keyframes card1 {
  0% {
    background-color: var(--price-10);
  }

  33% {
    background-color: var(--price-50);
  }

  66% {
    background-color: var(--price-100);
  }

  100% {
    background-color: var(--price-10);
  }
}

.box-discount {
  position: absolute;
  bottom: -10px;
  right: -10px;
  background-color: lightcoral;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 0px 0px 0px 5px var(--bg);
}

.box-new {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: yellow;
  color: black;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 5px var(--bg);
  width: 50;
  transition: width ease-in-out 0.25s;
}

.box-new:hover {
  width: 500px;
}

.box-price {
  position: absolute;
  bottom: -10px;
  background-color: grey;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 5px var(--bg);
}

.box-soldout {
  width: calc(100% - 20px);
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box-soldout-txt {
  color: red;
  font-weight: 900;
}

.box-link {
  position: absolute;
  width: 25px;
  opacity: 0;
  filter: invert();
  bottom: 5px;
  right: 5px;
  transition: opacity ease-in-out 0.25s;
}

.box:hover .box-link {
  opacity: 1;
}

.save-box:hover .box-link {
  opacity: 1;
}

.other-title {
  margin-top: 50px;
  text-align: center;
  font-size: x-large;
  font-weight: 900;
  margin-bottom: 10px;
}

.other-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.other-element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.other-icon {
  width: 30px;
}

.other-text {
  font-size: larger;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.footer-img {
  width: 10vw;
  opacity: 0.25;
}

@media screen and (max-width: 1200px) {
  .box-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .save-box {
    width: 25vw;
  }

  .box {
    width: 25vw;
  }
}

@media screen and (max-width: 900px) {
  .header-text {
    font-size: 10vw;
  }

  .save-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .save-box {
    width: 75vw;
  }

  .box-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .box {
    width: 75vw;
  }

  .footer-img {
    width: 50vw;
  }
}
