:root {
  --bg: rgb(10, 10, 10);
  --accent: rgb(136, 71, 255);
  --tag-tech: rgb(140, 140, 140);
  --tag-expensive: rgb(181, 92, 92);
  --tag-semi-expensive: rgb(181, 132, 92);
  --tag-fiy: rgb(175, 181, 92);
  --tag-decor: rgb(92, 181, 109);
  --tag-toy: rgb(92, 175, 181);
  --tag-clothing: rgb(92, 93, 181);
  --tag-giftcard: rgb(131, 92, 181);

  --price-10: rgb(73, 204, 117);
  --price-25: rgb(109, 185, 65);
  --price-50: rgb(120, 146, 47);
  --price-75: rgb(150, 131, 49);
  --price-100: rgb(179, 128, 62);
  --price-150: rgb(209, 125, 68);
  --price-200: rgb(255, 121, 88);
  --price-250: rgb(255, 88, 88);
  --price-300: rgb(226, 75, 125);
  --price-350: rgb(202, 63, 172);
  --price-400: rgb(152, 59, 175);
  --price-450: rgb(110, 51, 158);
  --price-500: rgb(59, 35, 124);
}

@font-face {
  font-family: deca;
  src: url(fonts/deca.ttf);
}

html {
  background-color: var(--bg);
  font-family: deca;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header-text {
  font-size: 2vw;
  font-weight: 900;
}

.save-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.save-title {
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}

.save-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
}

.save-box {
  position: relative;
  width: 22.5vw;
  height: 250px;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 5px var(--bg), 0px 0px 0px 7px white,
    inset 0px 0px 200px 10px black;
}

.save-box:hover {
  box-shadow: 0px 0px 0px 7px var(--bg), 0px 0px 0px 9px white,
    inset 0px 0px 200px 10px black;
}

.save-box:active {
  box-shadow: 0px 0px 0px 5px var(--bg), 0px 0px 0px 7px white,
    inset 0px 0px 200px 10px black;
}

.boxes-container {
  display: flex;
  justify-content: center;
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 10px;
}

.box {
  position: relative;
  width: 15vw;
  height: 250px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 0px 5px var(--bg), 0px 0px 0px 7px white,
    inset 0px 0px 200px 10px black;
}

.box:hover {
  box-shadow: 0px 0px 0px 7px var(--bg), 0px 0px 0px 9px white,
    inset 0px 0px 200px 10px black;
}

.box:active {
  box-shadow: 0px 0px 0px 5px var(--bg), 0px 0px 0px 7px white,
    inset 0px 0px 200px 10px black;
}

.box-title {
  font-size: x-large;
  font-weight: 800;
}

.box-tag {
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 23px;
  white-space: nowrap;
  line-height: 30px;
}

.box-price {
  position: absolute;
  bottom: -10px;
  background-color: grey;
  padding: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 5px var(--bg);
}

.box-soldout {
  width: calc(100% - 20px);
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-soldout-txt {
  color: red;
  font-weight: 900;
}

.box-link {
  position: absolute;
  width: 25px;
  opacity: 0;
  filter: invert();
  bottom: 5px;
  right: 5px;
  transition: opacity ease-in-out 0.25s;
}

.box:hover .box-link {
  opacity: 1;
}

.save-box:hover .box-link {
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.footer-img {
  width: 10vw;
  opacity: 0.25;
}

@media screen and (max-width: 1200px) {
  .box-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .save-box {
    width: 25vw;
  }

  .box {
    width: 25vw;
  }
}

@media screen and (max-width: 900px) {
  .header-text {
    font-size: 10vw;
  }

  .save-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .save-box {
    width: 75vw;
  }

  .box-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .box {
    width: 75vw;
  }

  .footer-img {
    width: 50vw;
  }
}
